@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables color*/
:root{
  --negro:#000000;
  --blanco:#ffffff;
  --gris:#D9D9D9;
  --violeta:#603A86;
  --VioletaOscuro:#31233B;
  --lila:#B98AEA;
  --Violetabrillante:#9747FF;

  /*variables tipografias*/
  --tipografía: "Poppins", sans-serif;

  --thing: 100;
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;
  
  --font-style-normal: normal;
  --font-style-italic: italic;
}

html{
    font-size: 62.5%;
}
body{
    margin: 0px;
    padding: 0;
}

  /*encabezado */
.encabezado{
    display: flex;
    background-color: var(--violeta);
    height: 20rem;
}
.encabezado-text{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 2rem;
    color: var(--blanco);
    margin: 5rem 5rem 0 20rem;
}
.encabezado-titulo{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    color: var(--blanco);
    margin: 6rem 0 0 0;
}
  
/*sobre mi*/
#sobre-mi{
    display: flex;
    margin-top: 2rem;
    /*align-items: center;*/
    justify-content: center;
}

#sobre-mi div{
    margin: 3rem;
}
  

.sobre-mi-texto{
    border: .5rem solid var(--violeta);
    padding: 1rem;
    height: auto;
    position: relative;
}
@media (min-width: 1660px) {
    .sobre-mi-texto{
        height: 20rem;
    }
}

.sobre-mi-texto h2{
    margin: 0;
    padding: 0 1rem 0 1rem;
    background-color: var(--blanco);
    margin-top: -4rem;
    margin-left: 1rem;
    width: 32rem;
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 3rem;
    position: absolute;
}
.sobre-mi-texto p{
    margin: 0;
    padding-bottom: 0;
    padding: 2rem;
    font-family: var(--tipografía);
    font-weight: var(--regular);
    font-size: 2rem;
}
.sobre-mi-img{
    border-radius: 20%;
}
  
.sobre-mi-img img{
    width:25rem;
    transform: scaleX(-1);
}