@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables color*/
:root{
  --negro:#000000;
  --blanco:#ffffff;
  --gris:#D9D9D9;
  --violeta:#603A86;
  --VioletaOscuro:#31233B;
  --lila:#B98AEA;
  --Violetabrillante:#9747FF;

  /*variables tipografias*/
  --tipografía: "Poppins", sans-serif;

  --thing: 100;
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;
  
  --font-style-normal: normal;
  --font-style-italic: italic;
}

html{
    font-size: 62.5%;
}
body{
    margin: 0px;
    padding: 0;
}

  /*encabezado */
.encabezado{
    display: flex;
    background-color: var(--violeta);
    height: 20rem;
}
.encabezado-text{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 2rem;
    color: var(--blanco);
    margin: 5rem 5rem 0 20rem;
}
.encabezado-titulo{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    color: var(--blanco);
    margin: 6rem 0 0 0;
}
  
/*sobre mi*/
#sobre-mi{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre-mi div{
    margin: 1rem 3rem 0 3rem;
}
  

.sobre-mi-texto{
    border: .5rem solid var(--violeta);
    padding: 1rem;
    height: auto;
    position: relative;
    
}
@media (min-width: 1660px) {
    .sobre-mi-texto{
        height: 20rem;
    }
}

.sobre-mi-texto h2{
    margin: 0 1rem 0 0;
    padding: 0 1rem 0 1rem;
    background-color: var(--blanco);
    margin-top: -4rem;
    margin-left: 1rem;
    width: 32rem;
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 3rem;
    position: absolute;
    right: 0%;
}
.sobre-mi-texto p{
    margin: 0;
    padding-bottom: 0;
    padding: 2rem;
    font-family: var(--tipografía);
    font-weight: var(--regular);
    font-size: 2rem;
    
}
.sobre-mi-img{
    border-radius: 20%;
    margin: 0;
}
  
.imagen-difuminada{
    width:30rem;
    transform: scaleX(-1);
    mask-image: linear-gradient(black 20rem, transparent 100%);
}

/*contenido*/
.contenido-titulo{
    background-color: var(--blanco);
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    margin: 0 3rem 4rem;
}
.contenido-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenido-img a{
    position: absolute;
    text-decoration: none;
    color: var(--negro);
    font-family: var(--tipografía);
    font-size: 3rem;
    font-weight: var(--bold);
}
.a-branding{
    top: -1rem;
    left: 37.7rem;
    margin: 0%;
    padding: 0 3rem 0 3rem;
}
.a-impresos{
    top: 13.5rem;
    right: 32.7rem;
    margin: 0%;
    padding: 0 3rem 0 3rem;
}
.a-ux-ui{
    top: 28rem;
    left: 65rem;
    margin: 0%;
    padding: 0 3rem 0 3rem;
}
.a-rrss{
    bottom:20.8rem;
    right: 10.5rem;
    margin: 0%;
    padding: 0 3rem 0 3rem;
}
.a-audiovisual{
    bottom:-1rem;
    right: 64rem;
    margin: 0%;
    padding: 0 3rem 0 3rem;
}

/*brading e identidad visua*/
.branding-center{
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0 ;
    justify-content: center;
    align-items: center;
}
#branding h2{
    background-color: var(--blanco);
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    margin: 4rem 3rem;
}
.container {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15rem;
}
.button-branding {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 25rem;
    padding: 2rem;
    background-color:var(--lila);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s;
}
.button-branding img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.image {
    position: relative;
    display: flex;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
.image p{
    position: absolute;
    top: 12rem;
    left: 6rem;
    font-family: var(--tipografía);
    font-weight: var(--medium);
    font-size: 2.7rem;
    color: var(--negro);
    text-align: start;
}
.back-button{
    position: absolute;
    left: 30rem;
    top: -12rem;
    width: 25rem;
    height: auto;
    background-color:var(--gris);
    border: none;
    border-radius: 15px;
    color: var(--Violetabrillante);
    font-family: var(--tipografía);
    font-weight: var(--medium);
    font-size: 3.2rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.back-button:hover{
    background-color:var(--Violetabrillante);
    color: var(--blanco);
}
.hidden {
    display: none;
}
/*medios impresos*/
#impresos {
    position: relative;
    height: 80rem;
    overflow: hidden;
    margin: 2rem 0 2rem 0;
  }
#impresos h2{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    margin: 2rem 3rem;
}
.carousel-images {
    display: flex;
    transition: transform 0.4s ease;
}
.carousel-images div {
    width: 100%;
}
.reyparvis{
    position: relative;
}
.reyparvis p{
    position: absolute;
    font-family: var(--tipografía);
    color: var(--negro);
    font-weight: var(--medium);
    font-size: 2.2rem;
    right: 0;
    top: 8rem;
    text-align: end;
    margin: 4rem;
}
.expo{
    position: relative;
}
.expo p{
    position: absolute;
    font-family: var(--tipografía);
    color: var(--negro);
    font-weight: var(--medium);
    font-size: 2.2rem;
    right: 0;
    top: 8rem;
    text-align: end;
    margin: 4rem;
}
.bateria{
    position: relative;
}
.bateria p{
    position: absolute;
    font-family: var(--tipografía);
    color: var(--negro);
    font-weight: var(--medium);
    font-size: 2.2rem;
    right: 0;
    top: 8rem;
    text-align: end;
    margin: 4rem;
}
.medioscarousel button {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 5rem;
    height: 5rem;
    transform: translateY(-50%);
    background-color:var(--violeta);
    color: var(--Violetabrillante);
    border: .4rem solid var(--Violetabrillante);
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
}
.previmpresos {
    left: 45%;
}
.nextimpresos {
    right: 45%;
}


/*Diseño Ux/Ui*/
#ux-ui h2{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    margin: 4rem 3rem 0;
}

#ux-ui p{
    font-family: var(--tipografía);
    font-weight: var(--medium);
    font-size: 1.5rem;
    width: 185rem;
    margin: 0 3rem 0 3rem;
}
.ux-ui-center{
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0 ;
    justify-content: center;
    align-items: center;
}
#ux-ui h2{
    background-color: var(--blanco);
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    margin: 4rem 3rem;
}

.ux-ui-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
  }
.ux-ui-img-contenedor{
    padding: 0%;
    margin: 4rem 0 4rem 0;
    border-radius: 1.6rem;
    justify-content: center;
    align-items: center;
   }
   
.ux-ui-img-contenedor img {
    height: 20rem;
    width: auto;
    padding: 4rem;
    border-radius: 1.6rem;
}
.servihogar{
    background-color: var(--Violetabrillante);
}
.coffeecorner{
    background-color: #A9D2D3;
}
.duckling{
    background-color: #FFA006;
}
/*Diseño RRSS*/
#rrss h2{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    margin: 4rem 3rem;
}

.image-containerf {
    background-color: #FFD692;
    display: none;
    justify-content: center;
    align-items: center;
    height: 70rem;
    width: 100%;
    cursor: pointer;
}
.image-containerp {
    background-color: #D1C6B7;
    display: none;
    justify-content: center;
    align-items: center;
    height: 70rem;
    width: 100%;
    cursor: pointer;
}
.image{
    height: 65rem;
}
.image-button{
    height: 60rem;
    width: auto;
}
.image-containerp .image-containerf  img {
    height: 40rem;
    width: auto;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 15rem;
}
button {
    border: none;
    background-color: var(--blanco);
    padding: 10px;
    cursor: pointer;
}
/*audiovisual*/
#audiovisual{
    display: flex;
    flex-direction: column;
}
#audiovisual h2{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 6rem;
    margin: 4rem 3rem;
}
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5rem 0;
}
video {
    width: 160rem;
    height: auto;
}
/*footer*/
.flex-col{
    display: flex;
    flex-direction: column;
}
.align-justify{
    align-items: center;
    justify-content: center;
}
footer{
    background-color: var(--lila);
    justify-content: space-evenly;
}
.footer{
    display: flex;
    flex-direction: row;
    gap: 65rem;
    margin: 0 0 5rem 0;
    align-items: center;
    justify-content: center;
}
.footer-content{
    justify-content: space-between !important;
    width: 60%;
}
footer h2{
    font-family: var(--tipografía);
    font-weight: var(--bold);
    font-size: 2rem;
    margin: 2rem;
}
footer p{
    font-family: var(--tipografía);
    font-weight: var(--medium);
    font-size: 1.7rem;
    margin: 0;
}
.imagenes-footer{
    margin-left: 0;
}
footer img{
    width: auto;
    height: 4rem;
    margin: 0 0 0 2rem;
    left: 0%;
}