<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Milena Lequio - Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../proyectos-style.css" />
  </head>
  <header>
    <div class="encabezado">
        <p class="encabezado-text">Bienvenidos a...</p>
        <h1 class="encabezado-titulo">Mis proyectos</h1>
    </div>
    </header>
  <body>
    <section id="sobre-mi" class="sobre-mi">
      <div class="sobre-mi-texto">
        <h2>Sobre mís proyectos</h2>
        <p>
          Soy Milena Lequio, diseñadora multimedial especializada en el
          desarrollo de identidades visuales, diseño UI/UX, branding y
          producción multimedia. <br />
          Siempre busco la mejor manera de comunicar y dar vida a cada proyecto.
          Creo que cada proyecto es una oportunidad para contar una historia, y
          mi objetivo es hacer que esa historia se vea y se sienta de la mejor
          manera posible. <br />
          Por eso, si tenés un proyecto en mente, ¡me encantaría ayudarte a
          hacerlo realidad!
        </p>
      </div>
      <div class="sobre-mi-img">
        <img src="/imagenes/Proyecto.png" alt="">
      </div>
    </section>
    <section>
      <h1>Contenido</h1>
      <img src="" alt="contenido-caminito " />
    </section>
    <section>
      <h1>Branding e identidad visual</h1>
      <div class="educacion-img">
        <div class="educacion-img-contenedor">
          <img src="imagenes/Educacion/alberdi.png" alt="" />
        </div>
        <div class="educacion-img-contenedor">
          <img src="imagenes/Educacion/ISEC.jpg" alt="" />
        </div>
        <div class="educacion-img-contenedor">
          <img src="imagenes/Educacion/password.jpg" alt="" />
        </div>
      </div>
    </section>
    <section>
      <h1>Medios Impresos</h1>
      <div class="MediosCarrousel"></div>
    </section>
    <section>
      <h1>Diseño ux/ui</h1>
      <p>Al hacer click...</p>
      <div class="educacion-img">
        <div class="educacion-img-contenedor">
          <img src="imagenes/Educacion/alberdi.png" alt="" />
        </div>
        <div class="educacion-img-contenedor">
          <img src="imagenes/Educacion/ISEC.jpg" alt="" />
        </div>
        <div class="educacion-img-contenedor">
          <img src="imagenes/Educacion/password.jpg" alt="" />
        </div>
      </div>
      <p>En esta presentacion...</p>
    </section>
    <section>
      <h1>Diseño de las RRSS</h1>
      <div>
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
    </section>
    <section>
      <h1>Producción audiovisual</h1>
      <div class="video">

      </div>
    </section>
  </body>
  <footer class="flex-col align-justify ">
    <div class=" flex-row footer-content ">
      <div class="flex-col">
        <h2>Contactame</h2>
        <p>📧 milenalequio@gmail.com</p>
        <p>📱 1123297218</p>
      </div>
      <div class="flex-col">
        <h2>Puedes seguirme en...</h2>
        <div class="flex-row margin-1">
          <img src="imagenes/Redes/IG.png" alt="icono2">
          <img src="imagenes/Redes/behance.png" alt="icono">
          <img src="imagenes/Redes/linkedin.png" alt="icono3">
        </div>
      </div>
    </div>
    <p class="copy">&copy; 2025 Milena Lequio – Todos los derechos reservados</p>
  </footer>
</html>
